<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>About | Online Reversi</title>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <p>
        This is the about page.
      </p>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
